* {
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  width: 100%;
  min-width: 1080px;
  height: 100px;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0 5em;
  width: 15em;
}

.logoImg {
  height: 40px;
  margin-right: 0.2em;
}

.logoText {
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
  color: white;
  font-weight: 900;
}

.logoTextMid {
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
  color: white;
  font-weight: 500;
}

.logoTextEnd {
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
  color: #ffd36b;
  font-weight: 900;
}

.headerBtn {
  display: flex;
  color: white;
  margin-right: 5em;
  cursor: pointer;
}

.closeBtnBox {
  text-align: right;
}

.closeBtn {
  cursor: pointer;
  font-size: 25px;
  border: none;
  background-color: transparent;
  transition: transform 0.5s;
}

.closeBtn:hover {
  transform: rotate(90deg);
}

.closeBtn:focus {
  outline: none;
}

.loginInfo {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Raleway", sans-serif;
}

.loginInfoTitle {
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 20px;
  cursor: default;
}

.loginInputBox {
  font-size: 16px;
  padding: 12px 0;
  margin: 7px 30px;
  border-radius: 30px;
  width: 300px;
  background-color: lightgray;
}

.loginInput {
  margin-left: 10px;
  font-size: 16px;
  width: 230px;
  background-color: transparent;
  border: none;
}

.loginInput:focus {
  outline: none;
}

.Btn {
  margin: 0 1em;
  font-weight: 500;
}

.Btn:hover {
  border-bottom: white 1px solid;
}

.loginSubmit {
  font-size: 16px;
  height: 45px;
  width: 300px;
  margin: 10px 0;
  border: none;
  border-radius: 30px;
  background-color: black;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: white;
  cursor: pointer;
  transition: opacity 250ms;
}

.loginSubmit:hover {
  opacity: 0.7;
}

.loginSubmit:focus {
  outline: none;
}

.forgotIDPW {
  cursor: pointer;
}

.signinBtn {
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: 600;
}

.divider {
  color: darkgray;
}

.snslogin {
  font-family: "Raleway", sans-serif;
}

.facebook {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 250ms;
}

.facebook:hover {
  opacity: 0.7;
}

.facebookIcon {
  padding: 10px 18px;
  background-color: #273e6a;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  color: white;
}

.facebookBtn {
  padding: 10px 35px;
  background-color: #385999;
  font-size: 16px;
  font-weight: 600;
  color: white;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.facebookBtn > p {
  margin: 0;
}

.google {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 250ms;
}

.google:hover {
  opacity: 0.7;
}

.googleIcon {
  padding: 10px 15px;
  background-color: #a03228;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  color: white;
}

.googleBtn {
  padding: 10px 44px;
  background-color: #c43b2e;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.googleBtn > p {
  margin: 0;
}
