.contactTitle {
  position: relative;
}

.contactImg {
  z-index: -1;
  width: 100%;
  height: 75%;
  filter: grayscale(30%);
}

.contactImgText {
  z-index: 0;
  top: 50%;
  left: 50%;
  font-family: "Raleway", sans-serif;
  position: absolute;
  color: white;
  transform: translate(-50%, -50%);
  cursor: default;
}

.contactImgTextTitle {
  font-size: 80px;
}

.contactImgTextDesc {
  font-size: 30px;
}
