a {
  color: white;
  text-decoration: none;
}

.footer {
  width: 100%;
  background-color: black;
  color: white;
  font-family: "Raleway", sans-serif;
  padding: 2em 5.5em 0.3em 5.5em;
}

.footerInfo {
  font-family: SimSun;
  font-weight: 800;
  display: flex;
  margin-bottom: 4em;
}

.info {
  display: flex;
  flex-direction: column;
  width: 30%;
  text-align: left;
}

.title {
  padding: 1em 0;
  cursor: default;
  font-weight: 900;
}

.contents {
  padding: 1em 0;
  cursor: pointer;
}

.closure {
  font-size: 0.7em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closureItem {
  margin-left: 2em;
}
